{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>All Pages</h1>
    
    <table id="">
        {% for entry in entries %}
        <tr>
            <td style="width:10%"><a href="wiki/{{entry}}">{{ entry }}</a></td>
            <td style="width:10%"><a href="entry/{{entry}}/update/">Edit</a> </td>
            <td style="width:10%"><a href="detailentry/{{entry}}/">View in HTML</a> </td>
        </tr>
        {% endfor %}
    </table> 

{% endblock %}